<div class="container">
      <h1>Hello, <%= @user.name %>!</h1>
      <form action="/users/logout" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <button type="submit" class="btn btn-default">Log Out</button>
      </form>
      <br>

      <div class="new_secret">
            <form action="/secrets/create" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <div class="form-group">
                        <label for="content">New Secret:</label>
                        <textarea class="form-control" rows="5" id="content" name="content"></textarea>
                  </div>
                        <button type="submit" class="btn btn-default">Create Secret</button>
            </form>
      </div>
      <br>

      <div class="all_secrets">
            <table class="table table-striped">
            <thead>
                  <tr>
                        <th>Secrets</th>
                        <th>Likes</th>
                        <th>Options</th>
                  </tr>
                  </thead>
                  <tbody>
                              <% @secrets.each do |s| %>
                              <tr>
                                    <td><%= s.content %></td>
                                    <td><%= s.likes.count %> likes</td>
                                    <td>
                                       <% if @user_likes.exists?(:secret_id => s.id) == true %>
                                         <form action="/secrets/unlike/<%= s.id %>" method="post">
                                           <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                           <input type="submit" value="Unlike" class="btn btn-default">
                                         </form>
                                       <% end %>
                                       <% if @user_likes.exists?(:secret_id => s.id) == false  %>
                                         <form action="/secrets/like/<%= s.id %>" method="post">
                                           <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                           <input type="submit" value="Like" class="btn btn-default">
                                        </form>
                                       <% end %>
                                   </td>
                                   <td>
                                         <% if s.user == @user %>
                                         <form action="/secrets/delete/<%= s.id %>" method="post">
                                           <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                           <input type="submit" value="Delete" class="btn btn-default">
                                        </form>
                                         <% end %>
                                   </td>
                              </tr>
                              <% end %>
                  </tbody>
            </table>
      </div>
      <br>

      <div class="my_secrets">
            <table class="table table-striped">
            <thead>
                  <tr>
                        <th>My Secrets</th>
                        <th>Likes</th>
                  </tr>
                  </thead>
                  <tbody>
                        <tr>
                              <% @user_secrets.each do |secret| %>
                              <td><%= secret.content %></td>
                              <td><%= secret.likes.count %></td>
                        </tr>
                        <% end %>
                  </tbody>
            </table>
      </div>
      <br>

      <div class="secrets_liked">
            <table class="table table-striped">
            <thead>
                  <tr>
                        <th>Secrets Liked</th>
                        <th>Likes</th>
                  </tr>
                  </thead>
                  <tbody>
                        <% @secrets.each do |s| %>
                        <tr>
                                 <% if @user_likes.exists?(:secret_id => s.id) %>
                                 <td><%= s.content %></td>
                                 <td><%= s.likes.count %> likes</td>
                                 <% end %>
                        </tr>
                        <% end %>
                  </tbody>
            </table>
      </div>
      <br>

</div>
