<div class="container">
      <div class="row">
            <div class="col-md-5">
                  <div class="alert alert-success">
                        <p>Thanks for submitting! You have submitted this form <%= @count %> times.</p>
                  </div>
                  <h1><u>Submitted Info:</u></h1>
                  <p>Name: <%= @info['name'] %></p>
                  <p>Location: <%= @info['location'] %></p>
                  <p>Language: <%= @info['language'] %></p>
                  <p>Comment: <%= @info['comment'] %></p>
            </div>
      </div>
</div>
